footer {
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    color: #fff;
    padding: 5% 0%;
    z-index: 1001;
    grid-area: 30px;
    opacity: 100%;
    text-align: center;
    
    
}
.home-about>footer{
    margin: 0;
}

.home-about{
    position: relative;
    background-color: white;
}

footer >div {
    
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;

}

    .logo_vizir{
        width: 20%;
        margin-bottom: 20px;
    }
